/*get layout set up, maybe with background img
  scrolling projects?
  more color and style
  update linkin and github icons
  FORM stuff @ bottom */


#container {
	display: grid;
	grid-template-columns: 1fr 1fr 300px 1fr 1fr;
	grid-template-rows: 200px auto auto auto auto 1fr 150px;
	grid-gap: 5px;
  grid-template-areas:
  "header header header header header"
  ". aboutme profilepic details ."
  ". . projects . ."
  ". . github . ."
  ". . github . ."
  ". . github . ."
  "footer footer footer footer footer";
  font-family: Lucida Sans Unicode;
  background-color: #b7c7ea;
}


header {
	grid-area: header;
    text-align: center;
	background-color: white;
}

h1 {
	
}

ul {
	list-style-type: none; 
}

ul li{
	font-weight: bold;
	display: inline;
	padding: 10px;

}

#my-github-projects {
	grid-area: github;
	display: inline;
}
.aboutme {
	text-align: center;
	grid-area: aboutme;
	background-color: #b7c7ea;
}

#profilepic{
	grid-area: profilepic;
	width: 80%;
	height: auto;
	border: 3px solid black;
	border-radius: 90%;
	margin: 10px;

}
.details {
	grid-area: details;
}
.projects {
	grid-area: projects;
	text-align: center;
	background-color: ##b7c7ea;
}


.sidebar{
	grid-area: sidebar;
	background-color: white;
}
.footer {
	grid-area: footer;
	text-align: center;
	background-color: #b7c7ea;
}

