#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 250px;
	grid-template-rows: 85px 300px auto auto auto 1fr 150px;
	grid-gap: 5px;
 /* background-image: url(img/Background2.jpg);
  background-repeat: no-repeat;
  background-size: contain;*/
  grid-template-areas:
  "header header header header"
  "aboutme aboutme aboutme profilepic"
  ". projects projects ."
  ". fortuneteller fortuneteller ."
  ". virtualpet virtualpet ."
  ". virtualpetsshelter virtualpetsshelter ."
  "footer footer footer footer";
  font-family: Lucida Sans Unicode;
  background-color: #b7c7ea;
}


header {
	grid-area: header;
	text-align: start;
	align-self: center;
	background-color: white;
}

ul {
	list-style-type: none; 
}

ul li{
	display: inline;
	padding: 10px;

}
.aboutme {
	text-align: center;
	grid-area: aboutme;
	background-color: #b7c7ea;
}

.projects {
	grid-area: projects;
	text-align: center;
	background-color: ##b7c7ea;
}

.fortuneteller {
	grid-area: fortuneteller;
	background-color: #b7c7ea;
}

#fortunetellerimg {
	width: 750px;
	height: 500px;
}

.virtualpet {
	grid-area: virtualpet;
	background-color: #b7c7ea;
}

#virtualpetimg{
	width: 750px;
	height: 500px;

}

.virtualpetsshelter{
	grid-area: virtualpetsshelter;
	background-color: #b7c7ea;
}

#virtualpetsshelterimg {
	width: 750px;
	height: 500px;
}

.sidebar{
	grid-area: sidebar;
	background-color: white;
}
.footer {
	grid-area: footer;
	background-color: #b7c7ea;
}

#profilepic{
	width: 200px;
	height: 250px;
	border-radius: 20%
}